@import '/src/styles/mixins';

.swapBtn {
  border: 1px solid lightgray;
  color: white;
  padding: 9px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background-color: white;
  color: blue;
  font-size: 1.8rem;
  margin-block-start: 1em;
  cursor: pointer;
  max-height: 2em;
  span {
    display: none;
  }
  &:hover {
    transform: translateY(-3px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
  }
  &:active,
  &:focus {
    outline: none;
    transform: translateY(-1px);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  }

  @include respond(phone) {
    border-radius: unset;
    padding: 0.5em 1em;
    order: 3;
    font-size: 1.3rem;
    span {
      display: inline-block;
      margin-inline-end: 1em;
    }
  }
}
