.header {
  text-align: center;
  color: white;
  font-size: 2rem;
  margin-block-end: 1em;
}

.paper {
  padding: 6em 4em;
  background-color: white;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  gap: 1.5em;
}
