@import '/src/styles/mixins';

.resultText {
  font-size: 2rem;

  @include respond(phone) {
    text-align: center;
  }
}
.container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  @include respond(phone) {
    flex-direction: column;
  }
}

.loader {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  display: inline-block;
  text-align: center;
  border-top: 3px solid #cd0e0e;
  border-right: 3px solid transparent;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
  margin-inline-start: 1em;
  @include respond(phone) {
    width: 20px;
    height: 20px;
  }
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
